@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 960px;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-2 {
    order: 6;
  }
  .item-3 {
    order: 2;
  }
  .item-4 {
    order: 3;
  }
  .item-5 {
    order: 4;
  }
  .item-6 {
    order: 4;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 720px;
  }

  .card {
    grid-template-columns: 1fr;
  }
  .item-2 {
    order: 2;
    div {
      margin: 0 auto;
      text-align: center;
    }
  }
  .item-3 {
    order: 3;
  }
  .item-4 {
    order: 1;
  }
  .item-5 {
    order: 4;
  }
  .item-6 {
    order: 5;
  }
}
